.pizzaCard {
  margin: 0;
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.pizzaCard img {
  width: 100%;
  border-radius: 0.5rem;
}

.pizzaCardEmpty {
  flex-grow: 1;
}

.pizzaCardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizzaCardActions > span {
  white-space: nowrap;
}

.pizzaCardActionsButton {
  width: auto;
}

.pizzaCardActionsButton > button {
  margin: 0;
}
