.cartGrid {
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .cartGrid {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cartGridLeft {
    width: 70%;
  }
}
