.formInput {
  position: relative;
  margin-bottom: .5rem;
  display: block;
}

.required {
  color: #e13026;
}

.formInput > span {
  font-size: 0.85em;
  display: inline-block;
  margin-bottom: 0.3rem;
}

.formInput > div {
  display: flex;
  width: 100%;
  border-radius: .5rem;
  flex-wrap: wrap;
}

.formInput > div > div {
  width: 30px;
}

.formInput > div > input {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.75rem 1rem;
  background: #eaebf1;
  box-shadow: inset 2px 2px 5px #bdbec2, inset -3px -3px 7px #fff;
  border: 1px solid transparent;
}

.formInput input:focus {
  outline: none;
}

.formInputError > div > input {
  border: 1px solid #e36370;
}
.formInputError > span {
  color: #e13026;
}
.formInputSuccess > div > input {
  border: 1px solid #25a77e
}
.formInputSuccess > span {
  color: #1c7d5e;
}

.infoSpan {
  font-size: 0.8em;
  margin-top: 0.1rem;
}

.infoSpanError {
  color: #e13026;
}
.infoSpanSuccess {
  color: #1c7d5e;
}
