* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #424567;
  font-family: 'Montserrat', sans-serif;
}

.pointer {
  cursor: pointer;
}

.card-shadow {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
}

.form {
  padding: 1rem;
}

.mt-1 {
  margin-top: 1em;
}
